<div>
    <button type="button" class="btn btn-primary" (click)="back()">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </button>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ userSession.user.username }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/profile">Profilo</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
        <a routerLink="/shopping-cart" button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        </a>
    </div>

    <hr>
</div>