#registrate-title {
    text-align:center;
}

#registrate-subtitle {
    text-align:center;
}

.registrate-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.registrate-container {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 25px;
    flex: 0 0 70%;
    margin-top: auto;
    margin-bottom: auto;
}

.fill-horizontal {
    flex: 0 0 15%;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}