<div *ngIf="endedFetch; else waitFetching">
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Azioni</th>
            <th scope="col">Nome</th>
            <th scope="col">Quantità</th>
            </tr>
        </thead>
        
        <tbody *ngFor="let product of selectedProducts">
            <tr>
                <td>
                    <button type="button" class="btn btn-primary btn-sm btn-lg active" (click)="removeFromShoppingCart(product)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                    <input  type="text"
                            class="form-control"
                            [(ngModel)]="product.name"
                            [readonly]="!product.editable"
                            #name="ngModel"
                            name="name-list"
                            required/>
        
                    <span class="help-block" *ngIf="!name.valid && name.touched">Inserisci il nome del prodotto</span>
                </td>
                <td>
                    <input  type="number"
                            class="form-control"
                            [(ngModel)]="product.quantity"
                            [readonly]="!product.editable"
                            #quantity="ngModel"
                            name="quantity-list"
                            required/>
        
                    <span class="help-block" *ngIf="!quantity.valid && quantity.touched">Inserisci la quantità del prodotto</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #waitFetching>
    <div class="spinner-border m-12" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>